footer {
    background-color: #1e1e1e;
    color: white;
    padding: 4rem 2rem 2rem;
    height: 400px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    height: 300px;
    width: 70%;
    text-align: left;
    display: flex;

    align-items: center;
}

.footer-section.contact {
    flex: 1;
    min-width: 250px;
}

.logo-footer img {
    width: 150px;
    margin-bottom: 1rem;
}

.contact-info {
    padding: 0;
    margin: 0;
}

.contact-info li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    line-height: 1.5;
    gap: 10px;
}

.contact-info img {
    width: 20px;
    height: 20px;
}

.footer-section.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 200px;
    background-color: #1e1e1e;
}

.footer-section.menu h4 {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.2rem;
}

.footer-section.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
}

.footer-section.instagram {
    flex: 1;
    min-width: 250px;
}

.footer-section.instagram h4 {
    margin-bottom: 1rem;
}

.insta-images ul {
    list-style: none;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.insta-images ul img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.footer-bottom {
    margin-top: 2rem;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    font-size: 0.9rem;
    text-align: center;
}

.footer-bottom i {
    font-size: 24px;
}

.footer-bottom p {
    margin: 0;
}